.create-deck-btn {
  margin-bottom: 1rem;
}

.card-name-display {
  display: flex;
  justify-content: space-between;
}

.card-name-display .title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1.25rem;
}

.add-shadow {
  box-shadow: 5px 5px 5px 3px #808080;
}
